<!DOCTYPE html>
<html>
  <head>
    <title>プロフィールの編集</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body id="xss-profile-edit">
    <h1>プロフィールの編集</h1>
    <form action="./preview" method="post">
      <ul class="profile">
        <li>
          <label for="profile-name">名前</label>
          <input type="text" name="name" id="profile-name" class="name" value="<%- profile.name %>" />
        </li>
        <li>
          <label for="profile-email">メールアドレス</label>
          <input type="email" name="email" id="profile-email" class="email" value="<%- profile.email %>" />
        </li>
        <li>
          <label for="profile-introduction">自己紹介</label>
          <textarea name="introduction" id="profile-introduction" class="introduction"><%- profile.introduction %></textarea>
        </li>
      </ul>
      <button type="submit">変更を確認</button>
    </form>
  </body>
</html>
